<!DOCTYPE html>
<html>
  <head>
    <title>Upload Submit</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
        <p><%= vidName %> has been uploaded!</p> <br>
        <p>Your video ID is <%= vidID %></p> <br>
        <form action="/" method=get>
            <input type="submit" value="Back to Main Page"/>
        </form>
    </div>
  </body>
</html>
