<!DOCTYPE html>
<html>
  <head>
    <title>Upload Video</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
        <h1>Upload a Video</h1>
        <form action = "/upload/submit" method="post" enctype="multipart/form-data">
        <input type="file" name="filetoupload"><br>
        <input type="submit">
        </form>
    </div>  
  </body>
</html>
